@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins-Regular', 'Arial'
}

body {
  margin: 0;
  background-color: #292c31;
  height: 100vh;
  width: 100%;
}

main {
  position: relative;
  height: calc(100vh - 60px);
}