#Editor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 60px;
    gap: 0px 0px;
    grid-template-areas:
        "sidebar image"
        "sidebar slider";
}

/* Image */

#ImageContainer {
    position: relative;
    grid-area: image;
    width: 100%;
    height: 100%;
    padding: 3% 5% 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

#ImageContainer canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Sidebar */

@keyframes showOptions {
    0% {
        left: -30px;
        opacity: 0;
        display: inline;
    }

    100% {
        left: 0;
        opacity: 100%;
    }
}

.sidebar {
    grid-area: sidebar;
    background-color: #171719;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    position: absolute;
    height: 100%;
}

.sidebar span {
    display: flex;
    position: relative;
    left: -30px;
    margin: 0 0.6rem;
    display: none;
}

.sidebar:hover span {
    display: inline;
    left: 0;
    opacity: 100%;
    animation: 0.3s showOptions;
}

.sidebar .sidebar-item {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1.5rem 1rem;
    position: relative;
    transition: background-color 150ms;
    color: gray;
    font-size: 20px;
    text-align: left;
}

.sidebar .sidebar-item:hover,
.sidebar .sidebar-item:focus {
    color: white;
}

.sidebar .sidebar-item img {
    position: relative;
    top: 4px;
    width: 24px;
    height: 24px;
}

.sidebar .sidebar-item .active {
    color: white;
    background-color: rgb(77, 77, 77);
}

/* Slider */

.slider-container {
    grid-area: slider;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-container .slider {
    width: 75%;
    max-width: 600px;
    cursor: pointer;
}

@media (pointer: coarse),
(max-width: 700px) {
    #Editor {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 60px;
        gap: 0px 0px;
        grid-template-areas:
            "image"
            "slider";
    }

    @keyframes showSidebar {
        0% {
            left: -200px;
            display: flex;
        }

        100% {
            left: 0;
        }
    }

    @keyframes closeSidebar {
        0% {
            left: 0;
        }

        100% {
            left: -200px;
        }
    }

    .sidebar {
        animation: 0.2s linear closeSidebar;
        left: -200px;
    }

    .sidebar-open .sidebar {
        left: 0px;
        animation: 0.2s linear showSidebar;
    }

    .sidebar-open .sidebar span {
        display: inline;
        left: 0;
        opacity: 100%;
        animation: 0s showOptions;
    }

    .sidebar-open .sidebar .sidebar-item {
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 1.5rem 1rem;
        position: relative;
        transition: background-color 150ms;
        color: gray;
        font-size: 20px;
        text-align: left;
    }

    .sidebar .sidebar-item:hover,
    .sidebar .sidebar-item:focus {
        color: white;
    }

    .sidebar .sidebar-item img {
        position: relative;
        top: 4px;
        width: 24px;
        height: 24px;
    }

    .sidebar .sidebar-item .active {
        color: white;
        background-color: rgb(77, 77, 77);
    }
}