header {
    height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #171719;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
}

@media screen and (max-width: 700px) {
    header h1 {
        font-size: 28px;
    }
    
    header h1 span {
        display: none;
    }
}

@media (pointer: coarse), (max-width: 700px)  {
    #BurgerMenuContainer {
        width: 30px;
        height: 30px;
        left: 15px;
        position: absolute;
        cursor: pointer;
    }

    #BurgerMenu {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 15px;
        background: #FCFCFC;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
    }

    #BurgerMenu::before {
        top: -10px;
    }

    #BurgerMenu::after {
        top: 10px;
    }

    #BurgerMenu::after,
    #BurgerMenu::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #FCFCFC;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        left: 0;
    }

    #BurgerMenuContainer.open #BurgerMenu {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    }

    #BurgerMenuContainer.open #BurgerMenu::before {
        top: 0;
        transform: rotate(45deg);
    }

    #BurgerMenuContainer.open #BurgerMenu::after {
        top: 0;
        transform: rotate(135deg);
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    }
}